[submodule "working"]
	path = working
	url = git@bitbucket.org:takesxi_sximada/working.git
[submodule "pleroma/src"]
	path = pleroma/src
	url = https://git.pleroma.social/pleroma/pleroma.git
[submodule "modern-django-example/src"]
	path = modern-django-example/src
	url = git@github.com:TakesxiSximada/modern-django-example.git
